<div class="container mt-5">
  <h1>name: <%= @restaurant.name %></h1>
  <p>where: <%= @restaurant.address %></p>
  <p>species: <%= @restaurant.category %></p>
  <br>
<!--   <%  %></p>
 -->
  <%= link_to "See the list", restaurants_path %> |
  <%= link_to "Add a comment", restaurant_reviews_path(@restaurant) %>
</div>
